@model MyFace.Models.Request.CreatePostRequestModel

@{
    Layout = "_Layout";
}

<form method="post" action="/posts/create">
  <label for= "first-name-input">First Name</label>
  <input id="first-name-input" type="text" name="FirstName"/>

  <button type="submit">Submit!</button>
</form>
  



