@{
    Layout = "_Layout";
}

<h1 class= "welcome-text"> Welcome to the home page.</h1>
<h2 class= "subtitle-text"> MyFace is a great place to interact with friends and family.</h1>
<img src = '/images/banner.jpg' alt = "banner image"/>